.main {
  display: flex;
  margin-bottom: 32px;
}

.cover {
  width: 256px;
  height: 364px;
}

.bg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(100% - 256px);
}

.info {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px) brightness(0.4);
  padding: 32px;
}