@use 'src/scss/variables';

.main {
  display: flex;
  border-radius: variables.$mangaItemBorderRadius;
  overflow: hidden;
  background-color: variables.$bgSecondaryColor;
}

.cover {
  width: 256px;
  height: 364px;
}

.info {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 32px;
}

.bg {
  width: 100%;
}