@use 'src/scss/variables';

.main {
  position: sticky;
  top: 0;
  width: 100%;
  height: variables.$headerHeight;
  background-color: variables.$bgPrimaryColor;
  z-index: 1000;
}

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
}