@use 'src/scss/variables';

.main {
  width: 100%;
  position: relative;
  z-index: 900;
  background-color: variables.$footerBgColor;
  padding: 12px 0;
  color: variables.$textSecondaryColor;
}

.container {
  display: flex;
  gap: 24px;
}
