@use "src/scss/variables";

.main {
  position: relative;
  height: 800px;
  padding-top: 176px;
  background: linear-gradient(0deg, variables.$bgPrimaryColor 0%, rgba(0,0,0,0) 100%);
}

.bg {
  width: 100%;
  height: 800px;
  position: sticky;
  top: 48px;
  margin-bottom: -800px;
}

.additional {
  position: relative;
  background-color: variables.$bgPrimaryColor;
  margin-bottom: 24px;
}
