@use 'variables';
@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

li {
  list-style-type: none;
}

// fix scrollbar spacing
html {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.App {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: variables.$bgPrimaryColor;
  color: variables.$textPrimaryColor;
}

.container {
  position: relative;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: variables.$bgPrimaryColor;
}

::-webkit-scrollbar-thumb {
  background: variables.$bgSecondaryColor;
}