// Colors
$bgPrimaryColor: #090909;
$bgSecondaryColor: #171717;
$bgModalItemsColor: #151515;
$textPrimaryColor: #FFFFFF;
$textSecondaryColor: #9D9D9D;
$mangoYellowColor: #FFE600;
$mangoGreenColor: #77D400;
$mangoOrangeColor: #FF6B00;
$mangoGradient: linear-gradient(45deg, $mangoGreenColor 0%, $mangoYellowColor 50%, $mangoOrangeColor 100%);

// Effects
$mangoShadow: 0 0 16px 0 $mangoYellowColor;